[submodule "SourceCode_and_Documentation/mosh/src/SourceCode_and_Documentation/mosh/src/auth-serv"]
	path = SourceCode_and_Documentation/mosh/src/SourceCode_and_Documentation/mosh/src/auth-serv
	url = git@github.com:spotify/web-api-auth-examples.git
